services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: autoops-ai-app
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - ENV=dev
